.ra{
  color: brown;
  background-color: aqua;
}

*{
  margin: 0px;
}

.head{
  font-size: large;
  font-weight: 600;
  text-decoration: none;
}

.Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header nav ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 89px; 
  list-style: none;

}

.Header nav ul li img{
  height: 150px;
  width: 190px;
  border-radius: 10px;
}

.Header nav ul li a{
  text-decoration: none;
  color: black;
}

.Header button{
  background-color: mediumslateblue;
  font-size: 15px;
  padding: 10px;
  border-radius: 20px;
  color: white;
}

.Header nav ul li a:hover{
color: mediumslateblue;

}

.b1{
  background-color: mediumslateblue;
  font-size: 15px;
  padding: 10px;
  border-radius: 20px;
  color: white;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 20px;
}

.left{
  margin-left: 20px;
}

.right{
  margin-left: 20px;
}

input{
  border: none;
  margin: 0px;
  border-bottom: 1px solid;
  margin-left: 320px;
  width: 200px;
}

.footer{
  display: flex;
 
  justify-content: center;
  align-items: center;
  height: 10vh;
}

